body{
  background-color: #333;
  color: #fff;
}
.cont{
  text-align: center;
}

.todoBg {
  background-color: #555;
  border-radius: 6px;
  text-align: left;
  font-size: 20px;
  position: relative;
  padding: 10px 140px 10px 15px;
  margin-bottom: 20px;
}
.todoBg div{
  display: flex;
  align-items: center;
}
.task-id{
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  color: #999;
  border: 1px solid #999;
  font-size: 14px;
  margin-right: 8px;
  justify-content: center;
  border-radius: 50%;
}

.todoBg .completed .title{
text-decoration: line-through;
opacity: 0.3;
}
.icons{
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
  position: absolute;
}
.todoBg .title{
  flex: 1;
}

.todoBg .icons span{
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #1E90FF;
  display: inline-block;
}
.todoBg .icons span:hover{
  color: #00FFFF;
}
.mr{
  margin-right: 20px;
}
